span {
    font-weight: bold;
}

p {
    border: 5px solid yellow ;
    
    border-style: dotted;

    margin-block: 20px solid yellow;

   
}

h5 {
    border: 5px solid black
}

div.one {
    background-color: rgb(208, 232, 247) ;
    font-weight:bold ;
    border: 10px solid black;
}
div.two {
    background-color: rgb(208, 232, 247) ;
    font-weight:bold ;
    border: 5px solid black;
}
div.three {
    background-color: rgb(208, 232, 247) ;
    font-weight:bold ;
    border: 3px solid black;
}

